doctype html
html
 title= title
 link(rel='stylesheet', href='/stylesheets/style.css')
 xmp(theme="united" style="display:none;")= content
 script(type='text/javascript' src='http://strapdownjs.com/v/0.2/strapdown.js')